<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Uniquedice</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/simple.css" />
</head>
<body>
  <div id="main">
    <!-- Header & Navigation -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">Unique Dice</span></a></h1>
          <h2>welcome to the uniquedice game......</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/playgame">Play Game</a></li>
          <li><a href="/whitelist/modify">Modify WhiteList</a></li>
          <li><a href="/whitelist/checkwhitelist">Check Token</a></li>
          <li><a href="/grant">Grant Delegate</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="site_content">
        <h2>About the game</h2>
        <li>The goal of this project is to make your unused tokens Circulate</li>
        <li>We want to provide a centralized platform to connect all of the token holders </li>
        <li>Having some fun and get more tokens</li>

        <h2>Attention</h2>
        <li>We didn't charge any fees, all of the ethers you spend only for contract fee</li>
        <li>You will gamble against with uniquedice contract</li>
        <li>We only have 1 more percentage successfully rate while gambling</li>
        <li>If there is NOT enough specific tokens to charge your play, we'll cancel this play and return all of your tokens</li>
        <li>Before you play, I suggest you check if the specific tokens enough? <a href="/getuniquedicetokens">Get tokens number with uniquedice account</a></li>

        <h2>Game play steps</h2>
        <li>Make sure your Metamask plugin installed</li>
        <li>Make sure you have enough tokens & ETHER</li>
        <li>Check if your token is in whitelist <a href="/whitelist/checkwhitelist">check it</a></li>
        <li>If not included in whitelist, contact administrator</li>
        <li>Grant your token delegate to uniquedice contract <a href="/grant">here</a></li>
        <li>play Game <a href="/playgame">Playit</a></li>

        <h2>Tools for your need</h2>
        <li>Tokens list from ethscan checks <a href="/tokenlist">tokens list</a></li>
        <li>Check the basic infomation of selected ERC20 tokens</li>
        <li>I want to transfer some tokens </li>
        <li>Message board</li>
        <li>Contact US</li>
    </div>
    <!-- Footer -->
    <div id="footer">
      Copyright © 2018 @Ambr All Rights Reserved 
    </div>
  </div>
</body>
</html>
